*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
}
header{
    background-color: brown;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.loginsingup{
    color: white;
    padding: 10px;
}
.loginsingup:hover{
    color: brown;
    background-color: white;
    border-radius: 10px;
}