header{
    padding: 25px;
    background-color: brown;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    padding: 30px;
}

.imagemsol{
    width: 60px;
}

.mainlistagem{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-65%);
    background-color: brown;
    border-radius: 15px;
    color: white;
}